<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.award.SrmAchievementCatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.baseData.SrmAchievementCat">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="is_valid" property="isValid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, code, name, is_valid
    </sql> 
    <select id="getAchievementCat" resultType="com.mediway.hos.srm.business.center.model.vo.baseData.CombVo">
        select code as id,name from ct_srm_achievement_cat where is_valid=1
    </select>
    <select id="listAchvCat" parameterType="com.mediway.hos.srm.business.center.model.dto.baseData.AchvCatDto" resultType="com.mediway.hos.srm.business.center.model.vo.baseData.AchvCatVo">
        select id as rowId,code,name,is_valid as isValid,type as catType,
               case when type="A" then "应用技术" when type="B" then "基础理论" when type="S" then "软科技" else "" end as catTypeName
        from ct_srm_achievement_cat
    </select>
</mapper>
