<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.baseData.SrmFundProjectIncomeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.baseData.SrmFundProjectIncome">
        <id column="id" property="id" />
        <result column="fee_value" property="feeValue" />
        <result column="income_date" property="incomeDate" />
        <result column="income_unit" property="incomeUnit" />
        <result column="proj_class" property="projClass" />
        <result column="note" property="note" />
        <result column="creator_code" property="creatorCode" />
        <result column="creator_name" property="creatorName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fee_value, income_date, income_unit, proj_class, note, creator_code, creator_name, create_time
    </sql>

</mapper>
