<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.baseData.SrmJournalTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.baseData.SrmJournalType">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="is_valid" property="isValid" />
        <result column="reward_amount" property="rewardAmount" />
        <result column="reimbursement_amount" property="reimbursementAmount" />
        <result column="paper_mode" property="paperMode" />
        <result column="is_magazine" property="isMagazine" />
        <result column="magazine_source_string" property="magazineSourceString" />
        <result column="is_emboday" property="isEmboday" />
        <result column="note" property="note" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, is_valid, reward_amount, reimbursement_amount, paper_mode, is_magazine, magazine_source_string, is_emboday, note
    </sql>
    <select id="getJournalType" resultType="com.mediway.hos.srm.business.center.model.vo.baseData.CombVo">
        select code as id,name from ct_srm_journal_type where is_valid=1

    </select>
    <select id="listJournalType" parameterType="com.mediway.hos.srm.business.center.model.dto.baseData.JournalTypeDto" resultType="com.mediway.hos.srm.business.center.model.vo.baseData.JournalTypeVo">
        select id as rowId,code,name,is_valid as isValid from ct_srm_journal_type
    </select>
</mapper>
