<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.baseData.SrmNationalEconomyIndustryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.baseData.SrmNationalEconomyIndustry">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="is_valid" property="isValid" />
        <result column="up_id" property="upId" />
        <result column="up_code" property="upCode" />
        <result column="level" property="level" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, is_valid, up_id, up_code, level
    </sql>

    <select id="listNationalEconomyIndustry" parameterType="com.mediway.hos.srm.business.center.model.dto.baseData.NationalEconomyIndustryDto" resultType="com.mediway.hos.srm.business.center.model.vo.baseData.NationalEconomyIndustryVo">
        select id as rowId,code,name,is_valid as isValid from ct_srm_national_economy_industry
    </select>
    <select id="getNationalEconomyIndustry"  resultType="com.mediway.hos.srm.business.center.model.vo.baseData.CombVo">
        select code as id,name from ct_srm_national_economy_industry
        where is_valid=1
        <if test="upCode!=null and upCode!=''">
            and up_code=#{upCode}
        </if>
    </select>

    <select id="getNationalEconomyIndustryNew"  resultType="com.mediway.hos.srm.business.center.model.vo.baseData.CombVo">
        select code as id,name from ct_srm_national_economy_industry
        where is_valid=1
        <if test="nationalEconomyIndustryDto.upCode!=null and nationalEconomyIndustryDto.upCode!=''">
            and up_code=#{nationalEconomyIndustryDto.upCode}
        </if>
        <if test="nationalEconomyIndustryDto.name!=null and nationalEconomyIndustryDto.name!=''">
            and name LIKE CONCAT('%', #{nationalEconomyIndustryDto.name}, '%')
        </if>
    </select>

</mapper>
