<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.baseData.SrmOccupationCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.baseData.SrmOccupationCategory">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="is_valid" property="isValid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, is_valid
    </sql>
    <select id="listOccupationCategory" parameterType="com.mediway.hos.srm.business.center.model.dto.baseData.OccupationCategoryDto" resultType="com.mediway.hos.srm.business.center.model.vo.baseData.OccupationCategoryVo">
        select id as rowId,code,name,is_valid as isValid from ct_srm_occupation_category
    </select>
    <select id="getOccupationCategory" resultType="com.mediway.hos.srm.business.center.model.vo.baseData.CombVo">
        select code as id ,name from ct_srm_occupation_category csoc where  is_valid =1
        <if test="occupationCategoryDto.name!=null and occupationCategoryDto.name!=''">
            and name LIKE CONCAT('%', #{occupationCategoryDto.name}, '%')
        </if>
    </select>
</mapper>
