<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.baseData.SrmPayTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.baseData.SrmPayType">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="is_valid" property="isValid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, is_valid
    </sql>

    <select id="listPayType" parameterType="com.mediway.hos.srm.business.center.model.dto.baseData.PayTypeDto" resultType="com.mediway.hos.srm.business.center.model.vo.baseData.PayTypeVo">
        select id as rowId,code,name,is_valid as isValid from ct_srm_pay_type
    </select>
    <select id="getPayType"  resultType="com.mediway.hos.srm.business.center.model.vo.baseData.CombVo">
        select code as id,name from ct_srm_pay_type where is_valid=1
    </select>
</mapper>
