<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.baseData.SrmRelyUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.baseData.SrmRelyUnit">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="is_valid" property="isValid" />
        <result column="is_default" property="isDefault" />
        <result column="is_patent_agency" property="isPatentAgency" />
        <result column="alias" property="alias" />
        <result column="abbreviation" property="abbreviation" />
        <result column="unit_type" property="unitType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, is_valid, is_default, is_patent_agency, alias, abbreviation, unit_type
    </sql>
    <select id="getRelyUnit" resultType="com.mediway.hos.srm.business.center.model.vo.baseData.CombVo">
        select code as id,name from ct_srm_rely_unit where is_valid=1
        <if test="relyUnitDto.name!=null and relyUnitDto.name!=''">
            and name LIKE CONCAT('%', #{relyUnitDto.name}, '%')
        </if>
    </select>
    <select id="listRelyUnit" parameterType="com.mediway.hos.srm.business.center.model.dto.baseData.RelyUnitDto" resultType="com.mediway.hos.srm.business.center.model.vo.baseData.RelyUnitVo">
        select csru.id as rowId ,csru.code ,csru.name ,csru.is_valid as isValid ,csru.is_default as isDefault, csru.is_patent_agency as isPatentAgency,
        csru.alias, csru.abbreviation, csru.unit_type as unitType,csut.name  as unitTypeName
        from  ct_srm_rely_unit csru
        left join ct_srm_unit_type csut on csru.unit_type =csut.code
    </select>
</mapper>
