<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.baseData.SrmScorePointMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.baseData.SrmScorePoint">
        <id column="id" property="id" />
        <result column="year" property="year" />
        <result column="user_id" property="userId" />
        <result column="dept_id" property="deptId" />
        <result column="sys_no" property="sysNo" />
        <result column="rec_id" property="recId" />
        <result column="point" property="point" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, year, user_id, dept_id, sys_no, rec_id, point
    </sql>

</mapper>
