<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.paper.SrmPaperEmbodyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.paper.SrmPaperEmbody">
        <id column="id" property="id" />
        <result column="paper_id" property="paperId" />
        <result column="embody_id" property="embodyId" />
        <result column="embody_date" property="embodyDate" />
        <result column="file_id" property="fileId" />
        <result column="impact_factor" property="impactFactor" />
        <result column="create_time" property="createTime" />
        <result column="creator_code" property="creatorCode" />
        <result column="creator_id" property="creatorId" />
        <result column="note" property="note" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, paper_id, embody_name, embody_date, file_id, impact_factor, create_time, creator_code, creator_id, note
    </sql>
    <delete id="deletePaperEmbodyByPaper">
        delete from srm_paper_embody where paper_id=#{paperId}
    </delete>
    <select id="listPaperEmbody" resultType="com.mediway.hos.srm.business.center.model.vo.paper.PaperEmbodyVo">
        select spe.id as rowId,cset.code as embodyId,cset.name as embodyName,spe.embody_date as embodyDate,
        spe.impact_factor as impactFactor,spe.note as note
        from srm_paper_embody spe
        left join ct_srm_embody_type cset on cset.code=spe.embody_id

        where paper_id=#{paperId}
    </select>
</mapper>
