<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.fund.FundProjBudgetModeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.fund.FundProjBudgetMode">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="is_valid" property="isValid" />
        <result column="hosp_code" property="hospCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, is_valid, hosp_code
    </sql>


    <select id="listFundProjBudgetMode" parameterType="com.mediway.hos.srm.business.center.model.dto.fund.FundProjBudgetModeDto" resultType="com.mediway.hos.srm.business.center.model.vo.fund.FundProjBudgetModeVo">
        select id as rowId ,code,name,is_valid as isValid ,hosp_code as hospCode from ct_fund_proj_budget_mode
    </select>
</mapper>
