<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mediway.hos.srm.business.center.mapper.patent.SrmPatentApplyAuthorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mediway.hos.srm.business.center.model.entity.patent.SrmPatentApplyAuthor">
        <id column="id" property="id" />
        <result column="apply_patent_id" property="applyPatentId" />
        <result column="author_id" property="authorId" />
        <result column="author_code" property="authorCode" />
        <result column="author_name" property="authorName" />
        <result column="author_type" property="authorType" />
        <result column="author_dept_name" property="authorDeptName" />
        <result column="author_dept_code" property="authorDeptCode" />
        <result column="author_division_code" property="authorDivisionCode" />
        <result column="degree" property="degree" />
        <result column="edu_level" property="eduLevel" />
        <result column="title" property="title" />
        <result column="sex" property="sex" />
        <result column="ranking" property="ranking" />
        <result column="work_ratio" property="workRatio" />
        <result column="note" property="note" />
        <result column="is_our_hosp" property="isOurHosp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, apply_patent_id, author_id, author_code, author_name, author_type, author_dept_name, author_dept_code, author_division_code, degree, edu_level, title, sex, ranking, work_ratio, note, is_our_hosp
    </sql>
    <select id="listPatentApplyAuthor" resultType="com.mediway.hos.srm.business.center.model.vo.patent.PatentApplyAuthorVo">
        select spaa.id as rowId,
               spaa.author_id as authorId,
               puser.name as authorName,
               spaa.author_type as authorType,
               ccspt.name as authorTypeName,
               spaa.author_code as authorCode,
               spaa.sex,spaa.degree as degree,csed.name as degreeName,
               spaa.edu_level as eduLevel,csel.name as eduLevelName,
               spaa.title as title,ccsti.name as titleName,
               sauthororder.code as ranking,sauthororder.name as rankingName,
                spaa.sex as sex,
                case
                when spaa.sex=0 then '女'
                when spaa.sex=1 then '男'
                else ''
                END as sexName,
                spaa.note as note,
               spaa.is_our_hosp as isOurHosp,spaa.work_ratio as workRatio,spaa.note as note
        from srm_patent_apply_author spaa
                 left join ct_srm_user puser on puser.id=spaa.author_id
                 left join ct_srm_person_type ccspt  on ccspt.code=spaa.author_type
                 left join ct_srm_title_info ccsti  on ccsti.code=spaa.title
                 left join ct_srm_edu_degree csed  on csed.code=spaa.degree
                 left join ct_srm_edu_level csel  on csel.code=spaa.edu_level
                 left join ct_srm_paper_author_order sauthororder on sauthororder.code=spaa.ranking
        where apply_patent_id=#{patentApplyId}
    </select>
    <delete id="deleteAuthorByApplyId">
        delete from srm_patent_apply_author where apply_patent_id=#{patentApplyId}
    </delete>
</mapper>
